/* Custom styles for Swiper navigation arrow */
.swiper-button-next , .swiper-button-prev {
  background-color: transparent; /* Transparent background */
  color: black; /* Grey arrow color */
  width: 30px; /* Smaller width */
  height: 30px; /* Smaller height */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease; /* Smooth hover effect */
  right: 10px; /* Position the next arrow */
}

.swiper-button-next::after , .swiper-button-prev::after {
  font-size: 16px; /* Smaller arrow icon */
  font-weight: bold; /* Make the arrow bold */
}

.swiper-button-next:hover , .swiper-button-prev:hover {
  color: black; /* Change arrow color on hover */
}